.paper {
  margin-top: 64px;
  margin-left: auto;
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}

.avatar {
  margin: 8px auto;
  background-color: #f50057;
}

.form {
  width: "100%";
  margin-top: 8px;
}

.submit {
  margin: 24px 0px 16px;
}
